@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'GmarketSansMedium';
}
.logos{
    margin-right: 500px;
    padding-top: 50px;
}
.logo{
    border-radius: 20px;
}
.name{
    border-radius: 20px;
    border: solid 2px;
    border-top: 2px solid black;

}
.banner{
    border-radius: 20px 20px 0px 0px;

}
.logos_name{
    text-align: center;
    background: #c5e1a5;
    width: 760px;
    height: 50px;
}
.logo{
    position: relative;
}
.area{
    position: absolute;
    top: 490px;
    font-size: 12px;
}
.logo_name{
    position: absolute;
    z-index: 10;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 50px;
}
.price{
    text-align: right;
    position: relative;
    left: -20px;
}
.text{
    width: 780px;
    background: #fafafa;
    margin-top: 50px;
    border-radius: 10px;
}
.information{
    margin-left: 10px;
}
.buttons{
    position: relative;
    right: -150px;
    top: -80px;
    margin-top: 30px;
    margin-right: -570px;
    background: #9CCC65;
    cursor: pointer;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}
.buttons:hover{
    color: #EFEFEF;
}
.tests{
    margin-left: -680px;
}