<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
</head>
<body>

<!-- 로고 이미지 -->
<p style="text-align: center; margin-top: 190px">
  <img src="../static/img/Logo.png" width="150" height="150" alt="로고이미지">
</p>

<!-- 아이디 및 입력창 -->
<div class="input-container-wrapper">
  <div class="input-container" style="margin-top: 50px">
    <img src="../static/img/member_img.png" alt="로고이미지"> <input
          type="text" placeholder=" 아이디를 입력해주세요.">
  </div>

  <!-- 비밀번호 및 입력창 -->
  <div class="input-container" style="margin-top: 70px">
    <img src="../static/img/pwd_img.png" alt="로고이미지"> <input
          type="password" placeholder=" 비밀번호를 입력해주세요.">
  </div>


  <!-- 로그인 버튼 -->
  <p style="text-align: center; margin-top: 50px">
    <button class="login-btn" onclick="performLogin()">로그인</button>
  </p>

  <!-- 회원가입 아이디 비밀번호 찾기 -->
  <div class="links-container">
    <a th:href="@{/Member}" class="link">회원가입</a> <span class="separator">|</span>
    <a th:href="@{/Id}" class="link">아이디 찾기</a> <span class="separator">|</span>
    <a th:href="@{/Pwd}" class="link">비밀번호 찾기 </a>

  </div>
</div>
</body>
</html>