<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/Join.css">

    <title>회원가입</title>
    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">
        <style>
            .error-container {
                height: 20px; /* Set a fixed height for the error container */
                text-align: center; /* Center-align the error messages */
                margin-top: 10px; /* Add some space between error messages and form fields */
            }
            .fieldError {
                color: #bd2130;
            }
            .input-container input {
                height: 30px;
                box-sizing: border-box;
            }
        </style>
    </th:block>
</head>

<body>

<!-- 로고 이미지 -->
<p style="text-align: center; margin-top: 80px">
    <a th:href="@{/}"> <img src="/static/img/logo_main_150.png" width="150" height="150" alt="로고이미지"></a>
</p>

<form  method="post" action="/members/new" role="form"  th:object="${memberDTO}">
    <div class="input-container-wrapper">
        <!-- 아이디 입력창 -->
        <div class="input-container" style="margin-top: 50px">
            <img src="/static/img/member_img.png" alt="로고이미지">
            <input type="text"  th:field="*{userid}" th:for="userid" placeholder=" 아이디를 입력해주세요."   style="height: 30px; box-sizing: border-box;">
        </div>

        <div class="error-container" th:if="${#fields.hasErrors('userid')}">
            <p th:errors="*{userid}" class="fieldError">Incorrect data</p>
        </div>
        <!-- 이름 입력창 -->
        <div class="input-container" style="margin-top: 50px">
            <img src="/static/img/name_img.png" alt="로고이미지">
            <input type="text" placeholder=" 이름을 입력해주세요." th:field="*{name}" th:for="name">
        </div>
        <div class="error-container" th:if="${#fields.hasErrors('name')}">
            <p th:errors="*{name}" class="fieldError">Incorrect data</p>
        </div>
        <!-- 비밀번호 입력창 -->
        <div class="input-container" style="margin-top: 50px">
            <img src="/static/img/pwd_img.png" alt="로고이미지"> <input type="password" placeholder=" 비밀번호를 입력해주세요." th:field="*{pwd}" th:for="pwd" >
        </div>
        <div class="error-container" th:if="${#fields.hasErrors('pwd')}">
            <p th:errors="*{pwd}" class="fieldError">Incorrect data</p>
        </div>
        <!-- 비밀번호 확인 입력창 -->
        <div class="input-container" style="margin-top: 50px">
            <img src="/static/img/pwd_img.png" alt="로고이미지"> <input type="password" placeholder=" 비밀번호를 입력해주세요." th:field="*{pwd1}" th:for="pwd1">
        </div>
        <div class="error-container" th:if="${#fields.hasErrors('pwd1')}">
            <p th:errors="*{pwd1}" class="fieldError">Incorrect data</p>
        </div>
        <!-- 이메일 입력창 -->
        <div class="input-container" style="margin-top: 50px">
            <img src="/static/img/email_img.png" alt="로고이미지"> <input type="text" placeholder=" [선택]이메일을 입력해주세요 [비밀번호 분실시 확인용]"
                                                                       th:field="*{email}" th:for="email" >
        </div>
        <div class="error-container" th:if="${#fields.hasErrors('email')}">
            <p th:errors="*{email}" class="fieldError">Incorrect data</p>
        </div>
        <!-- 전화번호 입력창 -->
        <div class="input-container" style="margin-top: 50px">
            <img src="/static/img/phone_img.png" alt="로고이미지"> <input type="text" placeholder=" 전화번호를 입력해주세요." th:field="*{tel}" th:for="tel" >
        </div>
        <div class="error-container" th:if="${#fields.hasErrors('tel')}">
            <p th:errors="*{tel}" class="fieldError">Incorrect data</p>
        </div>
        <div class="radio-container">    <!-- 성별 선택 -->

            <img src="/static/img/people_icon.png" alt="로고이미지"
                 style="width: 30px; height: 30px;"> <label th:for="man">남성</label> <input type="radio" id="male" th:field="*{gender}" value="man">
            <label th:for="woman">여성</label> <input type="radio" th:field="*{gender}" name="gender" value="female">
        </div>
        <div class="error-container" th:if="${#fields.hasErrors('gender')}">
            <p th:errors="*{gender}" class="fieldError">Incorrect data</p>
        </div>
        <!--회원가입 버튼 -->
        <p style="text-align: center; margin-top: 50px">
            <button type="submit" class="login-btn">회원가입</button>
        </p>

    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>

</body>
</html>