<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/moim.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/lodging.js" defer></script>
    <meta charset="UTF-8">
    <title>캠핑 모임</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div class="content">
    <a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
    <br>
    <div class="buttons">
        <a th:href="@{/html/moim}"><button id="c_button" style=" width: 80px; height: 30px; font-weight: bold;border: none;cursor: pointer; background-color: #9E9D24;color: white;  border-radius: 15px 15px 0 0 ">소모임</button></a>
        <button id="g_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #AED581; border-radius: 15px 15px 0 0">캠핑용품</button>
        <a th:href="@{/html/latter}"><button id="n_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #9CCC65;border-radius: 15px 15px 0 0">후기</button></a>
        <a th:href="@{/html/tip}"><button id="k_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #FDD835; border-radius: 15px 15px 0 0">꿀팁모음</button></a>
        <button id="d_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #F4FF81; border-radius: 15px 15px 0 0">미정</button>
    </div>
    <button class="search-button" style="width: 80px; height: 30px; font-weight: bolder; background-color: #8BC34A;border: none; border-radius: 9px">작성하기</button>

    <a th:href="@{/html/submoim}"><div class="banners" style="width: 780px; height: 500px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
    <img class="banner" src="/static/img/banner01.png" alt="배너 이미지01">
    <h4 class="name">(제목)여기 좋아 보이는데 같이 가실 분 계신가요?</h4>
    <h6 class="price">(내용 일부분만 나오게.....)가로는 어디까지 나오냐면 대충 애랑 맞춰서<br>
                       여기까지 나오면 될듯? 한줄로 할지 두줄로 할지는 미정
    </h6>
    <img class="level" src="/static/img/moim_img/1st.PNG" alt="1단계 등급">
    <h5 class="nick">나은삐</h5>
    </div></a>

    <div class="banners" style="width: 780px; height: 500px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <img class="banner" src="/static/img/banner02.png" alt="배너 이미지01">
        <h4 class="name">(제목)여기 좋아 보이는데 같이 가실 분 계신가요?</h4>
        <h6 class="price">(내용 일부분만 나오게.....)가로는 어디까지 나오냐면 대충 애랑 맞춰서<br>
            여기까지 나오면 될듯? 한줄로 할지 두줄로 할지는 미정
        </h6>
        <img class="level" src="/static/img/moim_img/2nd.PNG" alt="2단계 등급">
        <h5 class="nick">황장군</h5>
    </div>

    <div class="banners" style="width: 780px; height: 500px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <img class="banner" src="/static/img/banner01.png" alt="배너 이미지01">
        <h4 class="name">(제목)여기 좋아 보이는데 같이 가실 분 계신가요?</h4>
        <h6 class="price">(내용 일부분만 나오게.....)가로는 어디까지 나오냐면 대충 애랑 맞춰서<br>
            여기까지 나오면 될듯? 한줄로 할지 두줄로 할지는 미정
        </h6>
        <img class="level" src="/static/img/moim_img/3rd.PNG" alt="3단계 등급">
        <h5 class="nick">김코형</h5>
    </div>

    <div class="banners" style="width: 780px; height: 500px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <img class="banner" src="/static/img/banner02.png" alt="배너 이미지01">
        <h4 class="name">(제목)여기 좋아 보이는데 같이 가실 분 계신가요?</h4>
        <h6 class="price">(내용 일부분만 나오게.....)가로는 어디까지 나오냐면 대충 애랑 맞춰서<br>
            여기까지 나오면 될듯? 한줄로 할지 두줄로 할지는 미정
        </h6>
        <img class="level" src="/static/img/moim_img/4th.PNG" alt="4단계 등급">
        <h5 class="nick">김형순</h5>
    </div>
<!-- jQuery와 JavaScript 스크립트 링크 추가 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="script.js"></script>
</body>
</html>