<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css">
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
<a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
<h2>공지사항</h2>

<div class="areas">
    <h4 class="number">번호</h4>
    <h4 class="text">제목</h4>
    <h4 class="person">작성자</h4>
    <h4 class="date">작성일</h4>
</div>

<div class="area"><a th:href="@{/html/subnotice}">
    <h4 class="number">1</h4>
    <h4 class="text1">캠프어스 홈페이지 개인정보 처리방침 변경 안내</h4>
    <h4><img class="logos1" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    <h4 class="date1">2023.09.10</h4>
</a></div>

<div class="area"><a th:href="@{/html/subnotice}">
    <h4 class="number">2</h4>
    <h4 class="text2">[EVENT] 캠핑 사계 안전수칙 여름편 이벤트!</h4>
    <h4><img class="logos2" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    <h4 class="date2">2023.09.12</h4>
</a></div>
<div class="area"><a th:href="@{/html/subnotice}">
    <h4 class="number">3</h4>
    <h4 class="text3">[EVENT]2023 만만한 캠핑 이벤트!</h4>
    <h4><img class="logos3" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    <h4 class="date3">2023.09.12</h4>
</a></div>
<div class="area"><a th:href="@{/html/subnotice}">
    <h4 class="number">4</h4>
    <h4 class="text7">캠프어스 정보등록 양식 다운로드 파일</h4>
    <h4><img class="logos4" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    <h4 class="date4">2023.09.12</h4>
</a></div>
<div class="area"><a th:href="@{/html/subnotice}">
    <h4 class="number">5</h4>
    <h4 class="text5">[취소 공지]@해남 어서아노 캠핑장 | 2023 낭만캠핑 페스티벌</h4>
    <h4><img class="logos5" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    <h4 class="date5">2023.09.13</h4>
</a></div>
<div class="area"><a th:href="@{/html/subnotice}">
    <h4 class="number">6</h4>
    <h4 class="text6">2023년 등록야영장 지원사업 추진계획 [2차]</h4>
    <h4><img class="logos6" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    <h4 class="date6">2023.09.13</h4>
</a></div>
<div class="buttons">
    <buttton class="buttons1">[1]</buttton>
    <buttton class="buttons2">[2]</buttton>
    <buttton class="buttons3">[3]</buttton>
    <buttton class="buttons4">[4]</buttton>
    <buttton class="buttons5">[5]</buttton>
</div>
</body>
</html>