<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css">
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
<a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
<h2>공지사항</h2>

<div class="area">
    <input class="number" type="text" placeholder="번호 ">
    <input class="text" type="text" placeholder="제목">
    <input class="person" type="text" placeholder="글쓴이">
    <input class="date" type="text" placeholder="작성일">
</div>

<div class="area">
    <input class="number" type="text" placeholder="공지사항 ">
    <input class="text" type="text" placeholder="2023 여름 예약 안내">
    <input class="person" type="text" placeholder="관리자">
    <input class="date" type="text" placeholder="2023.5.30">
</div>

<div class="area">
    <input class="number" type="text" placeholder="공지사항 ">
    <input class="text" type="text" placeholder="2023 여름 예약 안내">
    <input class="person" type="text" placeholder="관리자">
    <input class="date" type="text" placeholder="2023.5.30">
</div>
<div class="area">
    <input class="number" type="text" placeholder="공지사항 ">
    <input class="text" type="text" placeholder="2023 여름 예약 안내">
    <input class="person" type="text" placeholder="관리자">
    <input class="date" type="text" placeholder="2023.5.30">
</div>
</body>
</html>