<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/store.css">
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
<div class="container">
    <a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
    <div class="search-bar">
        <img class="search-icon" src="/static/img/search_icon.png" alt="돋보기 아이콘">
        <input class="search-input" type="text" name="member_name" placeholder="캠핑 아이템을 검색해 보세요.">
        <button class="search-button">검색</button>
        <div class="buttonimg">
            <img class="tent" src="/static/img/store_img/tent.PNG" alt="텐트 이미지">
            <img class="table" src="/static/img/store_img/table.PNG" alt="테이블 이미지">
            <img class="taff" src="/static/img/store_img/taff.PNG" alt="타프 이미지">
            <img class="chair" src="/static/img/store_img/chair.PNG" alt="의자 이미지">
            <img class="fire" src="/static/img/store_img/fire.PNG" alt="화로대 이미지">
            <img class="bed" src="/static/img/store_img/bed.PNG" alt="침구류 이미지">
            <img class="sunab" src="/static/img/store_img/sunab.PNG" alt="수납용품 이미지">
            <img class="gajeon" src="/static/img/store_img/gajeon.PNG" alt="가전제품 이미지">
            <img class="sut" src="/static/img/store_img/sut.PNG" alt="주방용품 이미지">
            <img class="milkit" src="/static/img/store_img/milkit.PNG" alt="밀키트 이미지">
        </div>
        <h3>최근 본 상품</h3>
        <div>
            <div class="sample">
                <img class="camp" src="/static/img/store_img/camp1.jpg" alt="캠핑용품 이미지1">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="캠블러">
                    <input class="edit" type="text" placeholder="마운틴 하이커 캠핑 자충 에어베개">
                    <input class="price" type="text" placeholder="13,800원">
                </div>
            </div>
            <div class="sample">
                <img class="camp" src="/static/img/store_img/camp6.jpg" alt="캠핑용품 이미지6">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="마운틴하이커">
                    <input class="edit" type="text" placeholder="마운틴하이커 알루미늄 박스 S 캠핑">
                    <input class="price" type="text" placeholder="102,800원">
                </div>
            </div>
            <div class="sample">
                <img class="camp" src="/static/img/store_img/camp2.jpg" alt="캠핑용품 이미지2">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="모비디아">
                    <input class="edit" type="text" placeholder="캠핑이불가방 수납 멀티백 다용도 대형 용품 블랙">
                    <input class="price" type="text" placeholder="29,900원">
                </div>
            </div>
            <div class="sample">
                <img class="camp" src="/static/img/store_img/camp7.jpg" alt="캠핑용품 이미지7">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="모비가든">
                    <input class="edit" type="text" placeholder="모비가든 캠핑 가방 이불가방 수납 텐트 압축 옷가방 소형">
                    <input class="price" type="text" placeholder="26,500원">
                </div>
            </div> <div class="sample">
            <img class="camp" src="/static/img/store_img/camp4.jpg" alt="캠핑용품 이미지4">
            <div class="inputs">
                <input class="brand" type="text" placeholder="마운틴하이커">
                <input class="edit" type="text" placeholder="마운틴하이커 캠핑 무선 충전식 휴대용 미니 공기 배출 주입기 에어 펌프">
                <input class="price" type="text" placeholder="12,900원">
            </div>
        </div>
            <div class="sample">
                <img class="camp" src="/static/img/store_img/camp5.jpg" alt="캠핑용품 이미지5">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="하이크">
                    <input class="edit" type="text" placeholder="마운틴하이커 쉘프컨테이너 캠핑쉘프 캠핑선반 캠핑수납가방 캠핑">
                    <input class="price" type="text" placeholder="140,500원">
                </div>
            </div>
            <div class="sample">
                <img class="camp" src="/static/img/store_img/cmap3.jpg" alt="캠핑용품 이미지3">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="차크닉">
                    <input class="edit" type="text" placeholder="텐트 피크닉 감성 차박 차크닉 렌탈 (서울/경기/인천)">
                    <input class="price" type="text" placeholder="4,9000원">
                </div>
            </div>
            <img class="next" src="/static/img/next_icon.png" alt="다음 아이콘">
        </div>
    </div>
    <h3 class="chu">이달의 추천 상품</h3>

    <div class="samples">
        <img class="camp1" src="/static/img/store_img/camp11.jpg" alt="캠핑용품 이미지11">
        <div class="inputss">
            <input class="brands" type="text" placeholder="스탠리">
            <input class="edits" type="text" placeholder="스탠리 워터저그 받침대 폴딩 캠핑스티커
">
            <input class="prices" type="text" placeholder="8,000원">
        </div>
    </div>

</div>
<div class="samples1">
    <img class="camp1" src="/static/img/store_img/camp12.jpg" alt="캠핑용품 이미지12">
    <div class="inputss">
        <input class="brands" type="text" placeholder="캠프듀아">
        <input class="edits" type="text" placeholder="캠프듀아 액화방지 2가지 불조절 요리용 토치">
        <input class="prices" type="text" placeholder="11,500원">
    </div>
</div>
<div class="samples2">
    <img class="camp1" src="/static/img/store_img/camp13.jpg" alt="캠핑용품 이미지13">
    <div class="inputss">
        <input class="brands" type="text" placeholder="케이엘">
        <input class="edits" type="text" placeholder="
케이엘시스템 케이엘컴 스테인리스 바비큐 캠핑 불멍 메쉬망 화로대">
        <input class="prices" type="text" placeholder="119,650원">
    </div>
</div>
<div class="samples3">
    <img class="camp1" src="/static/img/store_img/camp14.jpg" alt="캠핑용품 이미지14">
    <div class="inputss">
        <input class="brands" type="text" placeholder="로티">
        <input class="edits" type="text" placeholder="로티 로티캠프 아이언 메쉬 미니 테이블 600
">
        <input class="prices" type="text" placeholder="18,900원">
    </div>
</div>
<div class="samples4">
    <img class="camp1" src="/static/img/store_img/camp15.jpg" alt="캠핑용품 이미지15">
    <div class="inputse">
        <input class="brands" type="text" placeholder="메이튼">
        <input class="edits" type="text" placeholder="메이튼 레드와일드 캠핑 경량 롤 테이블 중형">
        <input class="prices" type="text" placeholder="58,000원">
    </div>
</div>
<div class="samples5">
    <img class="camp1" src="/static/img/store_img/camp16.jpg" alt="캠핑용품 이미지16">
    <div class="inputse">
        <input class="brands" type="text" placeholder="아이두젠">
        <input class="edits" type="text" placeholder="아이두젠 아마데우스 원터치 텐트 쉘터
">
        <input class="prices" type="text" placeholder="298,980원">
    </div>
</div>
<div class="samples6">
    <img class="camp1" src="/static/img/store_img/camp17.jpg" alt="캠핑용품 이미지17">
    <div class="inputse">
        <input class="brands" type="text" placeholder="지라프">
        <input class="edits" type="text" placeholder="지라프 구이바다 세라믹 아이보리 에디션 가스버너 풀세트 M">
        <input class="prices" type="text" placeholder="139,000원">
    </div>
</div>
<div class="samples7">
    <img class="camp1" src="/static/img/store_img/camp18.jpg" alt="캠핑용품 이미지18">
    <div class="inputse">
        <input class="brands" type="text" placeholder="코스트위드">
        <input class="edits" type="text" placeholder="코스트위드 누아즈 캠핑침대 감성캠핑 경량 간이 야전침대 커브
">
        <input class="prices" type="text" placeholder="29,900원">
    </div>
</div>
<div class="he"></div>
</body>
</html>