<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/store.css">
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
<div class="container">
    <a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
    <div class="search-bar">
        <img class="search-icon" src="/static/img/search_icon.png" alt="돋보기 아이콘">
        <input class="search-input" type="text" name="member_name" placeholder="캠핑 아이템을 검색해 보세요.">
        <button class="search-button">검색</button>
        <div class="buttonimg">
            <img class="tent" src="/static/img/store_img/tent.PNG" alt="텐트 이미지">
            <img class="table" src="/static/img/store_img/table.PNG" alt="테이블 이미지">
            <img class="taff" src="/static/img/store_img/taff.PNG" alt="타프 이미지">
            <img class="chair" src="/static/img/store_img/chair.PNG" alt="의자 이미지">
            <img class="fire" src="/static/img/store_img/fire.PNG" alt="화로대 이미지">
            <img class="bed" src="/static/img/store_img/bed.PNG" alt="침구류 이미지">
            <img class="sunab" src="/static/img/store_img/sunab.PNG" alt="수납용품 이미지">
            <img class="gajeon" src="/static/img/store_img/gajeon.PNG" alt="가전제품 이미지">
            <img class="sut" src="/static/img/store_img/sut.PNG" alt="주방용품 이미지">
            <img class="milkit" src="/static/img/store_img/milkit.PNG" alt="밀키트 이미지">
        </div>
        <h3>최근 본 상품</h3>
        <div>
            <div class="sample">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="브랜드명">
                    <input class="edit" type="text" placeholder="제품명">
                    <input class="price" type="text" placeholder="가격">
                </div>
            </div>
            <div class="sample">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="브랜드명">
                    <input class="edit" type="text" placeholder="제품명">
                    <input class="price" type="text" placeholder="가격">
                </div>
            </div>
            <div class="sample">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="브랜드명">
                    <input class="edit" type="text" placeholder="제품명">
                    <input class="price" type="text" placeholder="가격">
                </div>
            </div>
            <div class="sample">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="브랜드명">
                    <input class="edit" type="text" placeholder="제품명">
                    <input class="price" type="text" placeholder="가격">
                </div>
            </div> <div class="sample">
            <div class="inputs">
                <input class="brand" type="text" placeholder="브랜드명">
                <input class="edit" type="text" placeholder="제품명">
                <input class="price" type="text" placeholder="가격">
            </div>
        </div>
            <div class="sample">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="브랜드명">
                    <input class="edit" type="text" placeholder="제품명">
                    <input class="price" type="text" placeholder="가격">
                </div>
            </div>
            <div class="sample">
                <div class="inputs">
                    <input class="brand" type="text" placeholder="브랜드명">
                    <input class="edit" type="text" placeholder="제품명">
                    <input class="price" type="text" placeholder="가격">
                </div>
            </div>
            <img class="next" src="/static/img/next_icon.png" alt="다음 아이콘">
        </div>
    </div>
    <h3 class="chu">이달의 추천 상품</h3>

    <div class="samples">
        <div class="inputss">
            <input class="brands" type="text" placeholder="브랜드명">
            <input class="edits" type="text" placeholder="제품명">
            <input class="prices" type="text" placeholder="가격">
        </div>
    </div>

</div>
<div class="samples1">
    <div class="inputss">
        <input class="brands" type="text" placeholder="브랜드명">
        <input class="edits" type="text" placeholder="제품명">
        <input class="prices" type="text" placeholder="가격">
    </div>
</div>
<div class="samples1">
    <div class="inputss">
        <input class="brands" type="text" placeholder="브랜드명">
        <input class="edits" type="text" placeholder="제품명">
        <input class="prices" type="text" placeholder="가격">
    </div>
</div>
<div class="samples1">
    <div class="inputss">
        <input class="brands" type="text" placeholder="브랜드명">
        <input class="edits" type="text" placeholder="제품명">
        <input class="prices" type="text" placeholder="가격">
    </div>
</div>
<div class="samples2">
    <div class="inputse">
        <input class="brands" type="text" placeholder="브랜드명">
        <input class="edits" type="text" placeholder="제품명">
        <input class="prices" type="text" placeholder="가격">
    </div>
</div>
<div class="samples2">

    <div class="inputse">
        <input class="brands" type="text" placeholder="브랜드명">
        <input class="edits" type="text" placeholder="제품명">
        <input class="prices" type="text" placeholder="가격">
    </div>
</div>
<div class="samples3">
    <div class="inputse">
        <input class="brands" type="text" placeholder="브랜드명">
        <input class="edits" type="text" placeholder="제품명">
        <input class="prices" type="text" placeholder="가격">
    </div>
</div>
<div class="samples3">
    <div class="inputse">
        <input class="brands" type="text" placeholder="브랜드명">
        <input class="edits" type="text" placeholder="제품명">
        <input class="prices" type="text" placeholder="가격">
    </div>
</div>


</body>
</html>
