<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/sublatter.css">
    <meta charset="UTF-8">
    <title>캠핑후기_상세</title>
</head>
<body>
    <div class="content">
<img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지">
<div class="buttons">
    <button id="c_button" style=" width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #9E9D24; border-radius: 15px 15px 0 0 ">소모임</button>
    <button id="g_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #AED581; border-radius: 15px 15px 0 0">캠핑용품</button>
    <button id="n_button" style="width: 80px; height: 30px; font-weight: bold;border: none;cursor: pointer; background-color: #9CCC65;color: white; border-radius: 15px 15px 0 0">후기</button>
    <button id="k_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #FDD835; border-radius: 15px 15px 0 0">꿀팁모음</button>
    <button id="d_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #F4FF81; border-radius: 15px 15px 0 0">미정</button>
</div>
</div>
</body>
</html>