<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
<h2>공지사항</h2>
<h3>캠프어스 홈페이지 개인정보 처리방침 변경 안내</h3>

<span class="write">안녕하세요.

캠프어스 운영팀입니다.<br><br>

캠프어스를 이용해주시는 고객님들께 감사드리며,
아래와 같이 개인정보처리방침이 일부 변경되오니 참고하시기 바랍니다.<br><br>

○ 변경 시행일 : 2023년 9월 13일 (수)<br><br>
○ 변경 내용 : 개인정보 수집 항목 내 제3자 제공 정보 관련 내용 변경 및 필수항목 수정<br><br>

1. 개인정보 수집 항목 및 방법<br><br>
기존<br><br>
<img class="textimg" src="/static/img/Group01.png" alt="텍스트 이미지">
<br><br>
    변경 후<br><br>
    <img class="textimg" src="/static/img/Group02.png" alt="텍스트 이미지2">
    <br><br>
    2. 캠프어스는 사용자의 동의 없이 개인정보를 외부에 제공하지 않습니다. 단, 다음의 경우는 예외입니다.<br><br>
+++++
∙    법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위해 불가피한 경우<br><br>

∙    서비스 제공에 따른 요금 정산을 위해 필요한 경우<br><br>

앞으로 보다 나은 서비스로 보답 하겠습니다.<br>
감사합니다.<br><br>
</span>
<span class="text4">
    2023년 8월 2일 캠프어스 운영팀 드림
</span>
</body>
</html>