<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/substore.css">
    <meta charset="UTF-8">
    <title>상세보기</title>
</head>
<body>
<a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
<a th:href="@{/html/store}"><img src="/static/img/prev_icon.png" alt="이전 아이콘"></a>
<h2>공지사항</h2>
<div class="sample">
    <div class="inputs">
        <input class="brand" type="text" placeholder="브랜드명">
        <input class="edit" type="text" placeholder="글램핑 오뚝이 충전식 무선 휴대용 모기해충퇴치기 무드등">
        <input class="price" type="text" placeholder="캠프어스 할인가">
        <h4>31%</h4>
        <input class="price" type="text" placeholder="40,900원">
    </div>
    <h3>기 본 정 보</h3>
</div>
</body>
</html>