<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/subtip.css">
    <meta charset="UTF-8">
    <title>팁</title>
</head>
<body>
<a th:href="@{/html/tip}"><button class="buttons">뒤로가기</button></a>
<img class="rains" src="/static/img/tip_img/bannerf.png" alt="배너 이미지">
<p>예보에도 없던 비가 갑자기 쏟아지면서 갑자기 우중 캠핑이 시작됐다면
    당황하지 말고 먼저 텐트의 상태부터 살펴봐야 합니다.

    내 텐트는 내가 지킨다!
    이번엔 갑작스러운 기상변화에 대처할 수 있는 텐트 점검 방법에 대해 알아볼게요.
    <br><br>
    텐트 점검 - 그라운드 시트는 텐트 면적보다 작게
</p>
<img class="rain" src="/static/img/tip_img/f1.png" alt="">
<p>
    그라운드 시트 (텐트 바닥의 오염이나 훼손을 방지하기 위해 바닥에 깔아 주는 시트)의 경우,
    텐트 바닥 사이즈보다 넓게 깔면 그 위로 떨어진 빗물이 텐트 내부로 들어오는 통로가 됩니다.

    폭우라도 내린다면 눈 깜짝할 사이에 텐트 실내가 물 바다로 변할 수 있습니다.
    그라운드 시트가 밖으로 나와 있다면 서둘러 안으로 넣어주세요!
    <br><br>

    텐트점검 - 텐트 스커트는 밖으로


</p>
<img class="rain" src="/static/img/tip_img/f2.png" alt="판초우의 이미지">
<p>
    텐트의 하단에 있는 스커트 부분이 텐트 내부로 들어와 있으면 그 사이로도 빗물이
    들어올 수 있습니다. 스커트 부분이 밖으로 나와있는지 확인해야 하는데요,

    이때 스커트 부분을 정비하면서 주변에 있는 돌을 텐트 스커트 위에 올려놓는 것도
    내부 빗물 유입 차단에 도움이 됩니다.
    <br><br>
    텐트점검 - 필요에 따라 추가로 팩다운
    <br><br>
    비가 내리면 지면에도 물이 고이면서 팩이 빠질 수 도 있습니다.
    보유한 팩 중에 가장 긴 팩을 곳곳에 추가로 박아 더 단단하게 고정하면서
    텐트의 텐션을 잡아주는 스트링도 팽팽하게 재정비해주세요.
    <br><br>
    내부 점검 -습기 잡기
</p>
<img class="rain" src="/static/img/tip_img/f3.png" alt="삽 이미지">
<p>
    비가 내리면 실내가 축축해지기 마련입니다.
    이때 실내에 전기장판을 켜 놓으면 온기로 텐트 바닥의 습기를 잡아주면서
    축축해진 침낭과 옷들을 건조 시키는 데 도움을 줍니다.

    또한 휴대하고 있는 헤어 드라이기가 있다면 드라이기의 따뜻한 바람을
    텐트 안 곳곳에 보내주세요.
</p>

</body>
</html>