<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/subtip.css">
    <meta charset="UTF-8">
    <title>팁</title>
</head>
<body>
<a th:href="@{/html/tip}"><button class="buttons">뒤로가기</button></a>
<img class="rains" src="/static/img/tip_img/bannerd.png" alt="배너 이미지">
<p>텐트 구매를 위해 정보를 수집하다 보면 기능에 따라 구조에 따라 디자인에 따라 그 종류가 정말 많습니다. 여기에 초보 캠퍼 라면 정보가 많아질수록 구매는 더욱 더 어려워질 수 밖에 없는데요,

    무엇을 사든지 어디를 가든지 아는 게 힘! 그래서 준비했습니다. 캠퍼들의 선택을 돕기 위한 텐트의 종류. 이번엔 자립식 구조와 비자립식 구조의 차이에 대해 알아볼게요.

    <br><br>
    자립식 vs 비자립, 구조의 차이


</p>
<img class="rain" src="/static/img/tip_img/d1.png" alt="">
<p>

    자립이란 남에게 예속되거나 의지하지 않고 스스로 선다는 뜻입니다. 즉, 자립식 구조란 텐트의 스킨에 뼈대와 같은 폴대만 연결해주면 텐트의 형태가 갖춰지면서 땅에 똑바로 설 수 있는 텐트를 말하는데요, 텐트를 피칭할 때 별도의 폴대 설치 작업을 하지 않는 팝업 텐트도 그 내부에는 폴대가 내장돼 있기 때문에 자립식 텐트에 속한다고 할 수 있죠.

    반면, 비(非)자립이란 남의 도움 없이 스스로 설 수 없다는 뜻인데요. 따라서 비자립식 구조란 텐트의 스킨에 폴대를 고정한 것 만으로는 텐트의 형태를 유지할 수 없는 텐트를 의미합니다. 대표적으로 U자형 폴대 구조로 세우는 터널 텐트가 비자립식 텐트에 속합니다.

    <br><br>

    자립식 vs 비자립, 설치의 차이




</p>
<img class="rain" src="/static/img/tip_img/d2.png" alt="판초우의 이미지">
<p>
    자립식 구조는 보통 텐트 폴대 2개가 X자로 겹치는 구조로 설치하는데요, 폴대의 연결 만으로도 텐트의 모양을 갖추기 때문에 신속하게 텐트를 설치할 수 있지만,

    비자립식 구조는 폴대로 고정한 뒤에 별도로 팩을 박고 스트링(텐트의 모양을 잡거나 고정하기 위한 굵은 줄) 작업을 통해 텐션을 단단하게 잡아주는 일련의 모든 과정을 거쳐야 설치가 끝납니다.

    물론 경험이 쌓일수록 설치 속도는 빨라지지만 초보 캠퍼가 텐트의 형태를 갖추기 까지 걸리는 설치 시간은 어느 정도 감수해야 합니다.

    <br><br>
    자립식 vs 비자립, 무게의 차이




</p>
<img class="rain" src="/static/img/tip_img/d3.png" alt="삽 이미지">
<p>
    비자립식은 텐트의 뼈대를 구성하는 폴대에만 의존해서 서는 게 아니기 때문에 지랍식에 비해 폴대가 많이 필요하지 않습니다. 그만큼 상대적으로 수납 무게가 가벼워지는데요,

    결국 자립식과 비자립식의 선택 기준은 설치의 편리함과 무게의 가벼움 사이에 있는 거라고 할 수 있습니다.

</p>

</body>
</html>