<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/subtip.css">
    <meta charset="UTF-8">
    <title>팁</title>
</head>
<body>
<a th:href="@{/html/tip}"><img class="buttonss" src="/static/img/prev_icon.png" alt="이전 아이콘"></a>
<img class="rains" src="/static/img/tip_img/bannera.png" alt="배너 이미지">
<p>계절을 가리지 않는 사계절 캠핑시대! 캠핑인구가 700만을 넘어서면서
    캠핑의 유형도 점점 더 다양해지고 있는데요,

    남녀노소 불문하고 많은 사람들의 마음을 사로잡은 캠핑의 유형에 대해서
    알아보도록 할게요.
</p>
<img class="rain" src="/static/img/tip_img/a1.png" alt="김장봉투 이미지">
<p>
    오토 캠핑 (auto camping)
    <br><br>

    오토캠핑은 의식주를 해결할 수 있는 모든 장비를 자동차에 싣고 떠나는 여행 중의
    야영을 통칭하는 말입니다.

    전기 사용이 가능하고 화장실, 개수대 등의 편의 시설을 갖춘 유료 오토캠핑장을 이용하거나
    노지에서의 캠핑, 차에서 취침을 해결하는 차박까지도 오토캠핑 범주에 속하는데요,

    어디에 가든 누구랑 가든 결국엔 자연에서 추억을 쌓는 여정이 바로 오토캠핑인 거죠.
</p>
<img class="rain" src="/static/img/tip_img/a2.png" alt="판초우의 이미지">
<p>
    노지캠핑과 오지 캠핑
    <br><br>

    오토캠핑의 장소에 따라 오지캠핑과 노지 캠핑으로도 나눠집니다.
    말 그대로 아무 것도 없고 누구의 간섭도 받지 않는 곳에서 프라이빗한 캠핑을 즐기고 싶은
    캠퍼들이 선호하는 캠핑 유형 중에 하나인데요,

    주변에 아무 것도 없기 때문에 예비전력, 편의 시설 위치 등 사전에 꼼꼼한 체크가 필요한
    캠핑 유형입니다.


</p>
<img class="rain" src="/static/img/tip_img/a3.png" alt="삽 이미지">
<p>
    백패킹(Backpacking)
    <br><br>

    미국에서 처음 시작된 백패킹은 ‘짊어지고 나른다’라는 의미로써 야영에 필요한 모든 장비를
    배낭 하나에 짊어 지고 떠나는 여행을 말합니다.
    두다리가 이동수단이 되서 어디든 자유롭게 다닐 수 있는 유형이죠.
</p>
<img class="rain" src="/static/img/tip_img/a4.png" alt="텐트 이미지">
<p>
    비박
    <br><br>
    독일어에서 유래된 비박은 텐트를 사용하지 않고 지형지물을 이용해 하룻밤을 지내는 야영을
    뜻하는데요, 예기치 못한 상황에서 이루어지기도 있지만,
    짐을 간소화하고 시간을 단축하려는 캠핑 고수들이 의도적으로 떠나서 즐기는
    액티비티한 캠핑이기도 합니다.
</p>
<img class="rain" src="/static/img/tip_img/a5.png" alt="텐트 이미지">
<p>
    부시크래프트(bushcraft)
    <br><br>
    부시크래프트는 최소한의 장비로 자연을 훼손하지 않는 범위 내에서 자연물을
    최대한 활용해 아웃도어를 즐기는 캠핑 고수들의 레포츠를 말하는데요,

    자연을 벗삼아 캠핑의 본 맛 그대로를 느낄 수 있는 원초적인 캠핑입니다.
</p>
</body>
</html>