<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/subtip.css">
    <meta charset="UTF-8">
    <title>팁</title>
</head>
<body>
<a th:href="@{/html/tip}"><button class="buttons">뒤로가기</button></a>
<img class="rains" src="/static/img/tip_img/bannerc.png" alt="배너 이미지">
<p>텐트는 전면을 구성하는 스킨의 겹에 따라 한 겹인 싱글월과 두 겹으로 구성되는 더블월로 구분됩니다. 그렇다면 싱글월과 더블월은 어떤 차이가 있을까요?

    텐트 구매를 위해 알아야 할 꿀팁! 싱글월과 더블월의 차이에 대해 알아볼게요.

    <br><br>
    설치 시간
</p>
<img class="rain" src="/static/img/tip_img/c1.png" alt="">
<p>
    싱글월은 취침공간을 위한 한 겹 텐트의 구조이기 때문에 한 번에 설치할 수 있어 편리합니다.

    반면, 스킨이 두 겹인 더블월은 싱글월에서 플라이가 더해진 구조이기 때문에 플라이를 설치하는 시간이 추가로 소요됩니다.
    <br><br>

    스킨과 폴대의 연결 방식


</p>
<img class="rain" src="/static/img/tip_img/c2.png" alt="판초우의 이미지">
<p>
    텐트는 스킨과 폴대를 연결해서 형태를 갖추는데요, 이러한 연결 방식은 크게 슬리브형과 고리형으로 나눠집니다.

    ▶ 싱글월은 슬리브형
    슬리브형은 텐트 스킨과 연결된 통로로 폴대를 설치하는 방식인데요, 그 안에서 스킨과 폴대가 맞닿아 버티는 힘이 생기기 때문에 싱글월은 바람의 영향을 덜 받게 됩니다.

    ▶ 더블월 - 고리형
    더블월의 경우 플라이를 외부의 폴대에 고리를 거는 방식으로 설치하는데요, 바람이 불면 폴대와 플라이가 전면으로 영향을 받으면서 펄럭이게 됩니다.
    <br><br>
    확보 공간
    <br><br>
    싱글월은 전실 공간이 따로 없기 때문에 비가 오나 눈이 오나 취침, 실내 활동, 짐 보관 등을 모두 한 공간에서 해결해야 하는 반면, 더블월은 이너 텐트와 플라이 사이에 형성되는 전실을 활용할 수 있습니다.

    <br><br>
    통기성




</p>
<img class="rain" src="/static/img/tip_img/c3.png" alt="삽 이미지">
<p>
    본체 하나뿐인 구조의 싱글월은 보통 홀겹으로 외부의 오염물질을 비롯해 비, 바람을 다 견뎌야 해서 두껍고 강한 원단을 사용하기 때문에 텐트 내부와 외부의 온도 차로 인한 결로의 위험이 있지만,

    더블월은 이너텐트와 플라이 사이로 공기가 통하기 때문에 결로의 위험이 덜합니다.

</p>

</body>
</html>