<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/subtip.css">
    <meta charset="UTF-8">
    <title>팁</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
<a th:href="@{/html/tip}"><img class="buttonss" src="/static/img/prev_icon.png" alt="이전 아이콘"></a>
    <img class="rains" src="/static/img/tip_img/rain.PNG" alt="비 이미지">
    <p>캠핑을 떠나지도 않았는데 비 예보를 듣게 되면 초보캠퍼들은 난감해 합니다.
    유료 캠핑장을 예약했을 경우 날짜가 임박하면 천재지변이 아니고서는 선불 이용 금액을
    환불 받기도 힘드니까요.

    날이 좋아서, 날이 좋지 않아서, 날이 적당해서 캠핑을 다녀온 모든 시간을 추억으로
    만들기 위한 방법!

    우중 캠핑을 준비할 때 필요한 체크 리스트에 대해 알아볼게요.
    <br><br>
    우중 캠핑 필수템 - 김장 봉투
</p>
    <img class="rain" src="/static/img/tip_img/kim.PNG" alt="김장봉투 이미지">
    <p>
        김장하러 가는 것도 아니고 캠핑장에 가면서 김장 봉투는 왜? 필요할까요?

        비에 맞아 홀딱 젖은 텐트를 담아오기 위해서죠.
        차에 실을 때는 쓰러지지 않게 한쪽 벽에 세워놓은 다음 봉투를 열어주세요.

        꽁꽁 묵어서 오게 되면 야외에서 묻은 먼지와 빗물이 쾌쾌한 냄새로 돌변해
        텐트에 고스란히 밸 수 있습니다.<br><br>

        우중 캠핑 필수템 -판초 우의
    </p>
    <img class="rain" src="/static/img/tip_img/pan.PNG" alt="판초우의 이미지">
    <p>
        우산보다는 양손이 자유로운 우의가 훨씬 실용적인데요,
        특히 판초 디자인의 우의가 좋습니다.

        오버핏의 판초 우의는 체형에 상관없이 누구나 편하게 입을 수 있고요,
        앉았다 일어 났다를 반복하며 텐트룰 설치할 때도 우의가 몸에 달라붙는 느낌 없이
        몸을 편하게 움직일 수 있습니다.

        파초 우의를 구매할 때는 모자 폭이 깊은 걸 선택해주세요.
        그래야 빗물이 뚝뚝 떨어져도얼굴로 흘러내리지 않고 쉽게 벗겨지지 않습니다.
        <br><br>
        우중 캠핑 필수템 -미니삽
    </p>
    <img class="rain" src="/static/img/tip_img/sab.PNG" alt="삽 이미지">
    <p>
        폭우가 쏟아지면 텐트 앞에 배수로 확보해야 텐트 안으로 빗물이 들어오지 않습니다.
        만약을 대비해 집에 있는 작은 미니 삽을 준비해가면 배수로 확보를 위한 도구로
        활용할 수 있습니다.
        <br><br>
        우중 캠핑 사이트 체크- 파쇄석 vs 데크,
    </p>
    <img class="rain" src="/static/img/tip_img/tent.PNG" alt="텐트 이미지">
    <p>
        비 소식이 있을 경우 대개 데크나 파쇄석 사이트를 찾습니다.

        이 둘 중에 어떤 사이트가 더 안전할까요?

        캠핑장에 설치된 데크는 바닥에서 올라오는 냉기차단을 위해 틈을 촘촘하게 만들기 때문에
        폭우가 올 경우 물 빠짐이 수월하지 않아 그 사이에 빗물이 고일 수 있습니다.

        반면, 파쇄석 사이트는 구조상 물 빠짐이 잘되기 때문에 둘 중 하나를 선택해야 한다면
        파쇄석 사이트가 더 안전하다고 볼 수 있죠.
    </p>
</body>
</html>