<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/subtip.css">
    <meta charset="UTF-8">
    <title>팁</title>
</head>
<body>
<a th:href="@{/html/tip}"><button class="buttons">뒤로가기</button></a>
<img class="rains" src="/static/img/tip_img/banner1.png" alt="배너 이미지">
<p>캠핑의 시작은 장비 구매이고 장비 구매의 시작은 텐트인데요, 사실 텐트는 장비 중에서도 제일 고가에 속하기 때문에 어느 장비보다도 신중하게 선택해야 합니다.

    텐트를 구매하려면 반드시 체크해야 5가지 법칙이 있습니다.

    <br><br>
    WAY? - 캠핑 유형을 선택하라!
</p>
<img class="rain" src="/static/img/tip_img/b1.png" alt="">
<p>
    캠핑 유형에 따라 필요한 텐트도 달라지는데요,
    캠핑은 크게 오토 캠핑, 백패킹, 차박으로 구분됩니다.

    오토 캠핑은 캠핑 장비를 차에 싣고 이동하는 것을 통칭하는 말인데요,

    캠핑의 붐과 함께 최근엔 오토 캠핑장에서의 캠핑을 지칭합니다.

    보통 오토 캠핑장에서는 일정한 비용을 지불하면 전기를 쓸 수 있고 화장실, 개수대 등의 편의 시설을 편하게 이용할 수 있기 때문에 초보 캠퍼도 편하게 캠핑을 시작할 수 있는데요,

    반대로 이러한 캠핑장이 아닌 곳, 즉 주차와 취사가 허용된 빈 공터에서의 캠핑을 노지 캠핑이라고 하고, 노지 또는 오토 캠핑장에서 차에서 숙박을 해결하며 야영을 즐기는 걸 차박이라고 합니다.

    짊어지고 나른다라는 뜻의 백패킹은 1박 이상의 야영 생활에 필요한 장비를 배낭에 싣고 떠나는 캠핑을 말합니다.

    이처럼 다양한 캠핑의 유형 중에서 나에게 맞는 방식을 선택하는 게 중요합니다.<br><br>

    WHO? 캠핑의 인원수를 정해라!
</p>
<img class="rain" src="/static/img/tip_img/b2.png" alt="판초우의 이미지">
<p>
    텐트는 보편적으로 성인이 누웠을 때의 바닥 면적을 기준(60cmX200cm)으로 사이즈를 측정합니다.
    하지만 이 기준은 전혀 미동도 없을 때의 사이즈일 뿐 일반적으로 성인이 자려고 누우면 뒤척이기조차 힘들 만큼 공간이 비좁습니다.

    따라서 텐트를 구매할 때는 정해진 인원보다 1~2인용은 커야 편리합니다.
    <br><br>
    WHEN? 캠핑의 시기 결정해라!


</p>
<img class="rain" src="/static/img/tip_img/b3.png" alt="삽 이미지">
<p>
    여름엔 무더위가 겨울엔 강추위가 찾아오는 우리나라 사계절 특성에 따라 필요한 장비도 계절마다 달라집니다. 따라서 처음 캠핑을 시작할 때는 어떤 계절에 캠핑을 시작할지 먼저 결정해야 그 계절에 맞는 텐트의 두께와 구조를 선택할 수 있습니다.

    <br><br>
    WEATHER? 기후 변화에 대비한 내수압을 체크하라!
</p>
<img class="rain" src="/static/img/tip_img/b4.png" alt="텐트 이미지">
<p>
    캠핑은 야외에서의 활동이 목적이기 때문에 텐트를 구매할 때는 갑작스러운 기상 변화에 대처할 수 있는 기능을 가지고 있는지 체크해야 하는데요, 가장 기본적인 게 바로 텐트의 내수압입니다.

    내수압이란 일정한 수압을 가했을 때 견딜 수 있는 압력의 정도를 나타낸 수치로 텐트가 가진 방수 능력을 나타내는데요, 우리나라 날씨는 보통 500㎜는 가랑비, 1000㎜는 보통비, 1500㎜는 폭우로 지정합니다. 따라서 1박 이상의 캠핑을 하려면 최소 1500mm이상의 내수압 능력을 가진 텐트를 선택해야 합니다.
    <br><br>
    WILLING? 캠핑이 나와 맞는 지 체크해라!
</p>
<img class="rain" src="/static/img/tip_img/b5.png" alt="텐트 이미지">
<p>
    무턱대고 장비부터 잔뜩 샀다가 자신과 맞지 않아 캠핑을 포기하는 경우도 있는데요, 캠핑에 관심이 있다면 장비를 구매하기 전에 나와 캠핑이 맞는지 부터 확인해 보는 게 좋습니다.

    카크닉, 글램핑 등 캠핑을 체험할 수 있는 방법을 이용해 보세요.단순한 호기심이 아닌 캠핑의 맛을 알아야 캠퍼가 될 수 있습니다.
</p>
</body>
</html>