<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/subtip.css">
    <meta charset="UTF-8">
    <title>팁</title>
</head>
<body>
<a th:href="@{/html/tip}"><button class="buttons">뒤로가기</button></a>
<img class="rains" src="/static/img/tip_img/bannere.png" alt="배너 이미지">
<p>금쪽같은 내 텐트, 어디까지 알고 있나요?
</p>
<img class="rain" src="/static/img/tip_img/e1.png" alt="">
<p>
    "남들이 사니까..." "브랜드가 유명하니까..."

    이제 우리 더 이상 그러지 말자고요~
    지금부터 금쪽같은 내 텐트를 대쪽같이 알아보도록 할게요.
    <br><br>
    금쪽같은 내 텐트 1) 텐트 제원표 읽는 방법
</p>
<img class="rain" src="/static/img/tip_img/e2.png" alt="판초우의 이미지">
<p>
    도통 무슨 의미인지 알 수 없는 알파벳과 숫자가 적힌 텐트 제원표를 보고 난감했던 경험은 누구나 한 번 쯤 있을 거예요.
    몰라도 되나? 가볍게 넘기기 일쑤지만, 만약 알게 된다면 그만큼 내 텐트에 대해 더 많이 알게 되지 않을까요?
</p>
<img class="rain" src="/static/img/tip_img/e3.png" alt="삽 이미지">
<p>극한 상황만 아니면 그늘막의 경우 80-100D로 충분하지만, 대형 타프의 경우 150D 이상, 대형 텐트는 200D 이상 사용된다고 합니다.
    결국, 실이 굵고(D) 촘촘할수록(T) 방수, 보온, 차광 효과가 높아진다는 거죠.

    어려워 보여도 내용은 간단한데요, 이 중에서 텐트를 구입할 때 체크해야 할 한 가지가 더 있습니다.
    <br><br>
    금쪽같은 내 텐트 2) 내수압이 뭐예요?

</p>
<img class="rain" src="/static/img/tip_img/e4.png" alt="판초우의 이미지">
<p>
    자립식 구조는 보통 텐트 폴대 2개가 X자로 겹치는 구조로 설치하는데요, 폴대의 연결 만으로도 텐트의 모양을 갖추기 때문에 신속하게 텐트를 설치할 수 있지만,

    비자립식 구조는 폴대로 고정한 뒤에 별도로 팩을 박고 스트링(텐트의 모양을 잡거나 고정하기 위한 굵은 줄) 작업을 통해 텐션을 단단하게 잡아주는 일련의 모든 과정을 거쳐야 설치가 끝납니다.

    물론 경험이 쌓일수록 설치 속도는 빨라지지만 초보 캠퍼가 텐트의 형태를 갖추기 까지 걸리는 설치 시간은 어느 정도 감수해야 합니다.

    <br><br>
    금쪽같은 내 텐트 3) 남다른 재질
</p>
<img class="rain" src="/static/img/tip_img/e5.png" alt="판초우의 이미지">
<p>
    텐트에서 내수압이란, 텐트의 방수 능력을 나타낸 단위를 말하는데요,
    통상적으로 500mm 가랑비 < 1000mm 보통비 < 1500mm 폭우를 의미합니다.

    만약, 나의 텐트가 내수압 3000mm 텐트라면?
    "엄청난 폭우를 견뎌낼 뿐 아니라 웬만한 비에는 절.대. 비가 세지 않는다" 이런 의미인 거죠.

    모험을 즐기는 백패커들의 경우, 상황에 따라 내수압 4000mm 이상의 텐트가 필요할 때도 있다는 걸 보면
    그만큼 내수압이 텐트 선택에 있어 중요한 부분을 차지한다고 볼 수 있습니다.

    캠퍼 여러분이 지금 소유한 텐트의 내수압 수치는 어느 정도인가요?


</p>
</body>
</html>