<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/tip.css">
    <script src="/static/js/lodging.js" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/lodging.js" defer></script>
    <meta charset="UTF-8">
    <title>팁</title>

</head>
<body>
<div class="content">
    <a th:href="@{/}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
    <br>
    <div class="buttons">
        <a th:href="@{/html/moim}"><button id="c_button" style=" width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #9E9D24; border-radius: 15px 15px 0 0 ">소모임</button></a>
        <a th:href="@{/html/store}"><button id="g_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #AED581; border-radius: 15px 15px 0 0">캠핑용품</button></a>
        <a th:href="@{/html/latter}"><button id="n_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #9CCC65;border-radius: 15px 15px 0 0">후기</button></a>
        <a th:href="@{/html/tip}"><button id="k_button" style="width: 80px; height: 30px; font-weight: bold;border: none;cursor: pointer; background-color: #FDD835;color: white;  border-radius: 15px 15px 0 0">꿀팁모음</button></a>
        <button id="d_button" style="width: 80px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #F4FF81; border-radius: 15px 15px 0 0">미정</button>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtip}"><img class="banner" src=/static/img/tip_img/tip_banner01.png alt="배너 이미지"></a>
        <h4 class="name">우중 캠핑 준비 꿀팁</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtipa}"><img class="banner" src=/static/img/tip_img/tip_banner02.png alt="배너 이미지"></a>
        <h4 class="name">캠핑의 유형</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtipb}"><img class="banner" src=/static/img/tip_img/tip_banner03.png alt="배너 이미지"></a>
        <h4 class="name">텐트 구매 전 체크! 5할[W]법칙</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtipc}"><img class="banner" src=/static/img/tip_img/tip_banner04.png alt="배너 이미지"></a>
        <h4 class="name">한 겹 차이! 싱글월 vs 더블월</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtipd}"><img class="banner" src=/static/img/tip_img/tip_banner05.png alt="배너 이미지"></a>
        <h4 class="name">텐트 구조의 차이! 자립식과 비자립식</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtipe}"><img class="banner" src=/static/img/tip_img/tip_banner06.png alt="배너 이미지"></a>
        <h4 class="name">텐트의 기본 내수압,재질 바로 알기</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtipf}"><img class="banner" src=/static/img/tip_img/tip_banner07.png alt="배너 이미지"></a>
        <h4 class="name">갑자기 비올때 텐트 점검TIP</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/subtipg}"><img class="banner" src=/static/img/tip_img/tip_banner08.png alt="배너 이미지"></a>
        <h4 class="name">차박시 금기사항</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="script.js"></script>
</body>
</html>