<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/tip.css">
    <script src="/static/js/lodging.js" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/lodging.js" defer></script>
    <meta charset="UTF-8">
    <title>팁</title>

</head>
<body>
<div class="content">
    <a th:href="@{/html/main}"><img class="logo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></a>
    <br>
    <div class="buttons">
        <button id="c_button" style=" width: 70px; height: 30px; font-weight: bold;border: none;cursor: pointer; background-color: #9E9D24;color: white; border-radius: 15px 15px 0 0 ">꿀팁모음</button>
        <button id="g_button" style="width: 70px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #AED581; border-radius: 15px 15px 0 0">캠핑용품</button>
        <button id="n_button" style="width: 70px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #9CCC65; border-radius: 15px 15px 0 0">후기</button>
        <button id="k_button" style="width: 70px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #FDD835; border-radius: 15px 15px 0 0">소모임</button>
        <button id="d_button" style="width: 70px; height: 30px; font-weight: normal;border: none;cursor: pointer; background-color: #F4FF81; border-radius: 15px 15px 0 0">가제</button>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/sublodging}"><img class="banner" src="/static/img/banner02.png" alt="배너 이미지"></a>
        <h4 class="name">우중 캠핑 준비 꿀팁</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/sublodging}"><img class="banner" src="/static/img/banner01.png" alt="배너 이미지"></a>
        <h4 class="name">백패킹 환경 에티켓 바로 알기</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
    <div class="banners" style="width: 780px; height: 450px; font-size: larger; margin-bottom: 100px; border-radius: 20px">
        <a th:href="@{/html/sublodging}"><img class="banner" src="/static/img/banner02.png" alt="배너 이미지"></a>
        <h4 class="name">우중 캠핑 준비 꿀팁</h4>
        <h4 class="minilogos"><img class="minilogo" src="/static/img/logo_sub_300_100.png" alt="로고 이미지"></h4>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="script.js"></script>
</body>
</html>